<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='workspace/workspace.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='workspace/workspace.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='workspace/upload.js') }}"></script>
  </head>
  <body>
    <div id="header"></div>
    <div class="panel">
      <div class="outer">
        <div id="drop_zone_code" class="upload_zone">
          <img src="{{ url_for('static', filename='workspace/python_text.png') }}">
        </div>
        <img id="lock_code" class="lock" src="{{ url_for('static', filename='workspace/unlocked.png') }}" />
      </div>

      <div class="outer">
        <img src="{{ url_for('static', filename='workspace/draganddrop_text.png') }}" />
      </div>

      <div class="outer">
        <div id="drop_zone_icons" class="upload_zone">
          <img src="{{ url_for('static', filename='workspace/icons_text.png') }}" />
        </div>
        <img id="lock_icons" class="lock" src="{{ url_for('static', filename='workspace/locked.png') }}" />
      </div>

      <div class="outer">
        <div class="create_zone">
          <div>
            <img src="{{ url_for('static', filename='workspace/create_notready_text.png') }}" />
          </div>
        </div>
      </div>
      <div class="padding"></div>
      <div id="footer">
        <a href='http://github.com/kbatten/pyinstaller-win-web'><img src="{{ url_for('static', filename='workspace/piww_text.png') }}"></a>
      </div>
    </div>
    <script language="javascript">
      /*global $, Uploader, handleLockClick, console*/
      /*jslint browser: true*/

      var code_uploader = new Uploader("/upload", ["py"]);
      code_uploader.monitor_drop("#drop_zone_code");
      code_uploader.success(function (response) {
          "use strict";
          window.location.href = '/download/' + response + '/package.zip';
      });
      code_uploader.progress(function (loaded, total) {
          "use strict";
          console.log(100 * loaded / total);
      });

      $("#lock_code").click(function (event) {
          "use strict";

          // default state of unlocked
          if (event.target.locked === undefined) {
              event.target.locked = false;
          }
          // toggle locked state
          event.target.locked = event.target.locked ? false : true;

          if (event.target.locked === false) {
              event.target.src = "/static/workspace/unlocked.png";
          } else {
              event.target.src = "/static/workspace/locked.png";
          }

          code_uploader.toggle_monitor(event.target.locked);
      });
    </script>
  </body>
</html>
